
<footer>
    This website is created by <a target="_blank"  style="text-decoration: none; color: white; font-weight: 600;" href="https://www.instagram.com/_sakthi_marish_/">Marish</a> 
</footer>

</body>
</html>
