<%- include("partials/headerMain") -%> 

<div class="about-page">
    <section class="left-section">
        <h1>Sawaal</h1>
        <img src="resources/sword.svg" alt="">
    </section>
    <section class="right-section">
        <p>
            Sawaal is your virtual from the world wide web who can help you keep track of yourprogress in a challenge you have undertaken.
            It is proven that doing a 30 days or 60 days or 100days challenge is a good stratergy for implementing new healthy habits in your life.<br><br>
            You can try manu new things with Sawaal.
            You can even keep track of small things like doing a 30 days jogging challenge , a 30 day Reading challenge,etc...<br><br>
            And the best part is you can share this with your friends. Sawaal has an community Page which shows the posts posted by all  the user on that day<br><br>
            When you complete a challenge you will be given a "Badge" and it will be displayed in your profile page.
            You can delete a challenge you took at any time you want but thing well before deleting it.
            You can Took only one challenge at a time . In order to create another challenge you must complete  the current challenge.<br><br>
            The Rules are:-<br><br>
            (i)  You must Post atleast one post a day.<br>
            (ii) If you fail to do so then all your progress will be reset to zero.<br><br>
            I hope Sawaal will help in developing a new habit in your life 💖
        </p>
    </section>

    <div class="circle-group">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
    </div>
</div>




<script type="text/javascript">

    function toggleNav(){
        const toggle =  document.querySelector(".navIcon");
        const navBar = document.querySelector("header nav");

        toggle.classList.toggle("active");
        navBar.classList.toggle("active");
    }
    </script>

<%- include("partials/footerMain") -%> 