<%- include("partials/header") -%> 
<body>
    <div class="change-password-section">
        <form class="change-password-form" action=""  method="POST">
            <h2 style="margin-bottom: 20px;">Enter your new password</h1>
            <input type="text" name="password" id="password" required  autocomplete="off"><span onclick="setFocusText()">Enter your password</span>
            <input type="password" name="password2" id="password2" required ><span onclick="setFocusUser()">Re-enter your password </span>
            <p style="color: red; visibility: hidden;">passwords does not match</p>
            <button type="submit">submit</button>
        </form>
    </div>

    <script>

        const form = document.querySelector(".change-password-form");
        
    
        form.addEventListener("submit",(e)=>{
            var pass1 = document.getElementById("password").value;
            var pass2 = document.getElementById("password2").value;
            console.log(pass1===pass2);
            if(pass1!=pass2){
                document.querySelector(".change-password-form p").style.visibility="visible";
                e.preventDefault();
            }
        })

        function setFocusText(){
            document.querySelector(".change-password-section form input[type=text]").focus();
        }
        function setFocusUser(){
            document.querySelector(".change-password-section form input[type=password]").focus();
        }
    </script>
</body>

<%- include("partials/footer") -%>