<%- include("partials/header") -%>


<body>

    <!-- Header section -->
    <header>
        <h1 class="title">Sawaal <img src="/resources/sword.svg" width="25px"></h1>
        <a href="/sign-up">sign up</a>
    </header>
    
<!-- main section -->
<main class="main-section">
    <section class="get-started">
        <p>
            Sawaal is your virtual from the world wide web who can help you keep track of yourprogress in a challenge you have undertaken.
            It is proven that doing a 30 days or 60 days or 100days challenge is a good stratergy for implementing new healthy habits in your life.<br><br>
            You can try manu new things with Sawaal.
            You can even keep track of small things like doing a 30 days jogging challenge , a 30 day Reading challenge,etc...<br><br>
            And the best part is you can share this with your friends. Sawaal has an community Page which shows the posts posted by all  the user on that day<br><br>
            When you complete a challenge you will be given a "Badge" and it will be displayed in your profile page.
            You can delete a challenge you took at any time you want but thing well before deleting it.
            You can Took only one challenge at a time . In order to create another challenge you must complete  the current challenge.<br><br>
            The Rules are:-<br><br>
            (i)  You must Post atleast one post a day.<br>
            (ii) If you fail to do so then all your progress will be reset to zero.<br><br>
            I hope Sawaal will help in developing a new habit in your life 💖
        </p>
       <div class="btn-get-started">
           <a href="/sign-up">Get Started</a>
       </div>
  </section>
  
   <div class="login-form">
       <h1>Log in</h1>
       <div class="sign-in-google">
       <a href="/auth/google"> <i class="fab fa-google"></i>&nbsp;&nbsp;Login with Google</a>
       </div>
       <p>or use your own account</p>
       <form class="form" action="/login" method="post">
           <input type="text" name="username" id="" placeholder="Username" required>
           <input type="password" name="password" id="" placeholder="Password" required><br>
           <a onclick="openPopUp()" href="#">Forgot password ?</a><br>
           
           <% if(messages.error){ %>
            <p style="color: red; font-size: 14px; margin-top: 5px; margin-bottom: -15px;"><%= messages.error %> </p>
           <% } %>
           <button>Log in</button>
           <p>don't have an account ? <a href="/sign-up">sign up</a></p>
       </form>
   </div>
</main>

<!-- Cirlces -->

<div class="circle-group">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
</div>

<div class="forgot-password">
    <div style="margin-top: 10px; cursor: pointer;"><i onclick="closePopUp()" class="far fa-times-circle fa-lg"></i></div>
    <form action="/forgot-password" method="POST">
        <p >Enter your Email-id</p>
        <input type="email" name="email" id="username" required autocomplete="off">
        <br>
        <button type="submit">submit</button>
    </form>
</div>

<script>
    function openPopUp(){
        document.querySelector(".forgot-password").classList.add("active");
    }
    function closePopUp(){
        document.querySelector(".forgot-password").classList.remove("active");
    }
</script>
 

</body>

<%- include("partials/footer") -%> 